nav > ul > li{
    display: inline;
    margin-right: 15px;
}

nav li > a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 30px;
}
main > article >figure > figcaption{
    text-align: center;
    margin: 20px;

}


main > article > header> h3{
    /* text-align: center; */
    font-size: 30px;
    margin: 35px;   
}


main  article  section{
    text-align: left;
    padding: 40px;
    margin: 40px;
}

.rain_sound figure figcaption{
     text-align: left;
}